body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
#main-container{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1{
    margin: 1em;
    padding: 0;
}

a{
    background-color: lightgrey;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 18px;
    text-decoration: none;
    color: black;
}

a:hover{
    border: solid black 2px;
}

#desc{
    margin-top: 2em;
}

ul *{
    text-align: left;
}

ul li{
    margin-bottom: 1em;
}